.form{
  position: relative;
  top: 2vh;
  margin: auto;
  width: 30vw;
  min-width: 300px;
}

.inline{
  width: 48%;
}

.container{
}

mat-form-field{
  display: inline;
}

mat-card-title{
  margin-bottom: 1em;
}

mat-card-footer{
  padding: 5px;
}


