.form{
  position: relative;
  top: 2vh;
  margin: auto;
  width: 30vw;
  min-width: 300px;
}

.inline{
  width: 48%;
}

.container{
}

div.row{
  padding: 0 16px;
}

mat-form-field{
  display: inline;
}

mat-card-title{
  margin-bottom: 1em;
}

mat-card-footer{
  padding: 5px;
}

mat-spinner{
  position: relative;
  bottom: 30px;
  margin: auto;
}


