<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Concerts</h1>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="element-content">
      <mat-card *ngFor="let concert of concertList; let i = index" class="individual-element">
        <a routerLink="{{concert.id}}">{{concert.name}}</a>
        <mat-icon class="deleteIcon" (click)="onDeleteConcert(concert.id)">delete</mat-icon>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
