<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Conciertos</h1>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="element-content">
      <mat-card class="individual-element list-header">
        <div class="row">
          <div class="col-3">Nombre</div>
          <div class="col">Modalidad</div>
          <div class="col">Fecha</div>
          <div class="col">Direcci&oacute;n</div>
          <div class="col">Estado de contratación</div>
          <div class="col"></div>
        </div>
      </mat-card>
      <div *ngIf="showList">
        <mat-card *ngFor="let concert of concertList; let i = index" class="individual-element">
          <div class="row">
            <a routerLink="{{concert.id}}" class="col-3">{{concert.name}}</a>
            <div class="col">{{concert.modality}}</div>
            <div class="col">{{concert.date}}</div>
            <div class="col">{{concert.address}}</div>
            <div class="col">{{concert.state}}</div>
            <div class="col">
              <mat-icon id="editIcon" (click)="openUpdateDialog(concert.id)">edit</mat-icon>
              <mat-icon id="deleteIcon" (click)="onDeleteConcert(concert.id)">delete</mat-icon>
            </div>
          </div>
        </mat-card>
      </div>
      <mat-spinner *ngIf="!showList" diameter="50" class="centered-spinner"></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>
