<nav class="navbar navbar-expand-lg navbar-light">
<!--  <a *ngIf="logged" class="navbar-brand" href="#">{{bandName}}</a> &lt;!&ndash;TODO: Redirigir a la página principal&ndash;&gt;-->
  <mat-select *ngIf="logged" class="navbar-brand brand-select" (selectionChange)="changeSelection()" [(value)]="selectedBand">
    <mat-option *ngFor="let band of bandNames" [value]="band">
      {{band}}&emsp;
    </mat-option>
  </mat-select>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul *ngIf="logged" class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="song">Canciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="concert">Conciertos</a>
      </li>
    </ul>
    <ul id="user-menu" class="navbar-nav">
      <li *ngIf="!logged" class="nav-item active">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li *ngIf="!logged" class="nav-item">
        <a class="nav-link" routerLink="login">Log-in</a>
      </li>
      <li *ngIf="logged" class="nav-item">
        <a class="nav-link clickable" (click)="logOut()">Log-out</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
