#user-menu{
  position: absolute;
  right: 2vw;
}

.clickable:hover{
  cursor: pointer;
}

.navbar{
  padding-left: 2vw;
  height: 6vh;
  min-height: 50px;
  background-color: #F5E5FF;
}

.brand-select{
  width: auto;
}

a mat-icon{
  color: black;
  position: relative;
  top: 6px;
}

#sectionsMenu{
  position: relative;
  bottom: 5px;
}
