<h1 mat-dialog-title>A&ntilde;adir Canci&oacute;n</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" id="input-wrapper">
    <mat-label>T&iacute;tulo</mat-label>
    <input matInput [(ngModel)]="song.title">
  </mat-form-field>
  <mat-form-field appearance="fill" id="textarea-wrapper">
    <mat-label>Lyrics</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="15" class="full-width" [(ngModel)]="song.lyrics"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="song.title" cdkFocusInitial>A&ntilde;adir</button>
</div>
