<h1 mat-dialog-title>Crear Canción</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="song.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lyrics</mat-label>
    <input matInput [(ngModel)]="song.lyrics">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="song.title" cdkFocusInitial>Ok</button>
</div>
