<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Songs</h1>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="element-content">
      <mat-card *ngFor="let song of songList; let i = index" class="individual-element">
        <a routerLink="{{song.id}}">{{song.title}}</a>
        <mat-icon class="deleteIcon" (click)="onDeleteSong(song.id)">delete</mat-icon>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
