a{
  color: #505050;
  text-decoration: none;
}

a:hover{
  color: #000000;
}

mat-card-header{
  border-bottom: 2px solid #000000;
  margin-bottom: 2vh;
}

h1{
  margin-bottom: 5px;
}

.deleteIcon{
  position: absolute;
  top: 0.7em;
  right: 2vw;
}

.deleteIcon:hover{
  cursor: pointer;
}

.individual-song{
  margin-bottom: 1vh;
}
